# ======================
# Node.js / React
# ======================
node_modules/
dist/
build/

# ======================
# Python
# ======================
__pycache__/
*.pyc
venv/

# ======================
# Spring Boot
# ======================
target/
*.class
*.jar

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Environment Files
# ======================
.env

# ======================
# Logs
# ======================
*.log
logs/
